* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
span {
    display: inline-block;
}
body {
    background-color: rgb(150, 171, 211);
}
img {
    vertical-align: middle;
}
